body {
    
    width: 1520px;
    height: 580px;
    background-color: rgb(4, 4, 49);
    border: 2px solid black;
    
}
.logo {
    cursor: pointer;
    margin-left: 20px;
    color: white;
    font-size: 30px;
    float: left;
}
.menu {
    cursor: pointer;
    color: white;
    width: 400px;
    height: 70px;
    float: left;
}
ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li {
    list-style: none;
    margin-left: 120px;
    margin-top: 20px;
    font-size: 20px;
}
ul li a{
    text-decoration: none;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
.Login{
    margin-left: 1100px;
    margin-top: 30px;
}
.regis {
    text-align: center;
    background-color: red;
    width: 120px;
    height: 30px;
    margin-left: 1250px;
    transform: translateY(-45px);
    border-radius: 15px;
    border: 1px solid rgb(94, 94, 16);
    background-color: rgb(4, 4, 49);
}
.shua {
    
    
}
h1, p, h3, h4 {
    color: white
}
.content {
    margin-top: 200px;
}
h1 {
    transform: translateY(-80px);
    font-size: 40px;
}
h3 {
    transform: translateY(-200px);
    font-size: 60px;
    background: linear-gradient(90deg,  #ff00f3, rgba(236, 234, 232, 0.2), #af4d1f);
    position: absolute;
    top: 35%;
    left: 24%;
    background-size: 150%;
    font-family: sans-serif;
    letter-spacing: 5px;
    font-weight: 600;
    word-spacing: 5px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
h4 {
    width: 120px;
    height: 40px;
    background-color: rgb(4, 4, 49);
    font-size: 25px;
    border: 1px solid rgb(94, 94, 16);
    border-radius: 15px;
    text-align: center;
    cursor: pointer;

}